@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.backgroundColor {
  background-color:#eb99ff;
background-image:
radial-gradient(at 21% 86%, rgba(255,204,84,255) 0px, transparent 50%),
radial-gradient(at 12% 48%, hsla(260,62%,74%,1) 0px, transparent 50%),
radial-gradient(at 72% 28%, hsla(293,83%,67%,1) 0px, transparent 50%),
radial-gradient(at 45% 91%, rgba(38,0,172,255) 0px, transparent 50%),
radial-gradient(at 54% 74%, hsla(270,78%,67%,1) 0px, transparent 50%),
radial-gradient(at 92% 87%, rgba(38,0,172,255) 0px, transparent 50%),
radial-gradient(at 29% 39%, rgba(38,0,172,255) 0px, transparent 50%);
}
.documentationBackground {
  background-color:#eb99ff;
  background-image:
  radial-gradient(at 21% 86%, rgba(255,204,84,255) 0px, transparent 50%),
  radial-gradient(at 12% 48%, hsla(260,62%,74%,1) 0px, transparent 50%),
  radial-gradient(at 72% 28%, hsla(293,83%,67%,1) 0px, transparent 50%),
  radial-gradient(at 54% 74%, hsla(270,78%,67%,1) 0px, transparent 50%),
  radial-gradient(at 29% 39%, rgba(38,0,172,255) 0px, transparent 50%);
}
.whiteBackground {
  background-color:#0d041e;
}
.spanShadow {
  box-shadow: 0px 0px 24px 7px rgba(252, 252, 252, 0.1);
}

.buttonColor {
  background-color:hsla(0,100%,50%,1);
  background-image:
  radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
  radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}
.widgetShadow {
  -webkit-box-shadow: 0px 0px 52px -13px rgba(255,77,136,0.69);
-moz-box-shadow: 0px 0px 52px -13px rgba(255,77,136,0.69);
box-shadow: 0px 0px 52px -13px rgba(255,77,136,0.69);
}

.alertShadow {
  box-shadow: 0px 0px 35px -7px rgb(255, 0, 0);
}
.premiumShadow {
  box-shadow: 0px 0px 35px -7px rgb(105, 253, 6);
}

.navbarShadow {
  box-shadow: 0px 0px 41px -23px hsla(293,83%,67%,1);
}