@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --textColor:#05050a
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --textColor:#05050a
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.backgroundColor {
  background-color:hsla(286,100%,50%,1);
background-image:
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0px, transparent 50%),
radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0px, transparent 50%),
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0px, transparent 50%);
}

.background {
  background-color:#99d6ff;
background-image:
radial-gradient(at 52% 0%, hsla(257,81%,73%,1) 0px, transparent 50%),
radial-gradient(at 97% 97%, hsla(350,98%,60%,1) 0px, transparent 50%),
radial-gradient(at 19% 71%, hsla(297,87%,62%,1) 0px, transparent 50%),
radial-gradient(at 39% 15%, hsla(298,61%,78%,1) 0px, transparent 50%),
radial-gradient(at 58% 45%, hsla(125,66%,69%,1) 0px, transparent 50%),
radial-gradient(at 18% 82%, hsla(142,68%,70%,1) 0px, transparent 50%),
radial-gradient(at 65% 51%, hsla(110,86%,65%,1) 0px, transparent 50%);
}

.background2 {
  background-color:#fc99ff;
background-image:
radial-gradient(at 46% 70%, hsla(265,72%,65%,1) 0px, transparent 50%),
radial-gradient(at 65% 33%, hsla(35,70%,76%,1) 0px, transparent 50%),
radial-gradient(at 35% 4%, hsla(265,72%,72%,1) 0px, transparent 50%),
radial-gradient(at 61% 44%, hsla(260,81%,63%,1) 0px, transparent 50%),
radial-gradient(at 82% 43%, hsla(160,82%,64%,1) 0px, transparent 50%),
radial-gradient(at 3% 8%, hsla(77,69%,69%,1) 0px, transparent 50%),
radial-gradient(at 64% 69%, hsla(301,79%,66%,1) 0px, transparent 50%);
}

.background3 {
  background-color:#a399ff;
  background-image:
  radial-gradient(at 13% 19%, hsla(4,95%,64%,1) 0px, transparent 50%),
  radial-gradient(at 72% 59%, hsla(49,82%,70%,1) 0px, transparent 50%),
  radial-gradient(at 7% 48%, hsla(300,72%,72%,1) 0px, transparent 50%),
  radial-gradient(at 13% 37%, hsla(36,67%,66%,1) 0px, transparent 50%),
  radial-gradient(at 24% 82%, hsla(252,88%,61%,1) 0px, transparent 50%),
  radial-gradient(at 12% 19%, hsla(312,71%,68%,1) 0px, transparent 50%),
  radial-gradient(at 53% 22%, hsla(285,82%,62%,1) 0px, transparent 50%);
}

.background4 {
  background-color:#ffd199;
background-image:
radial-gradient(at 20% 42%, hsla(346,86%,68%,1) 0px, transparent 50%),
radial-gradient(at 34% 71%, hsla(83,94%,60%,1) 0px, transparent 50%),
radial-gradient(at 62% 3%, hsla(40,81%,63%,1) 0px, transparent 50%),
radial-gradient(at 78% 29%, hsla(14,91%,74%,1) 0px, transparent 50%),
radial-gradient(at 99% 49%, hsla(268,60%,65%,1) 0px, transparent 50%),
radial-gradient(at 80% 24%, hsla(49,66%,74%,1) 0px, transparent 50%),
radial-gradient(at 87% 70%, hsla(237,80%,60%,1) 0px, transparent 50%);
}

.alertShadow {
  box-shadow: 0px 0px 35px -7px rgb(255, 32, 169);
}

.widgetShadow {
  box-shadow: 0px 10px 36px -14px hsla(187,83%,78%,1);
}
.widgetButtonShadow {
  box-shadow: 0px 0px 43px -14px rgb(255, 255, 255);
}

.gradientBorder {
  padding: 1rem;
  position: relative;
  background-color:#99e6ff;
  background-image:
  radial-gradient(at 28% 6%, hsla(206,76%,79%,1) 0px, transparent 50%),
  radial-gradient(at 96% 63%, hsla(135,94%,72%,1) 0px, transparent 50%),
  radial-gradient(at 43% 33%, hsla(126,72%,71%,1) 0px, transparent 50%),
  radial-gradient(at 13% 70%, hsla(198,61%,66%,1) 0px, transparent 50%),
  radial-gradient(at 4% 72%, hsla(106,98%,69%,1) 0px, transparent 50%),
  radial-gradient(at 25% 13%, hsla(262,95%,60%,1) 0px, transparent 50%),
  radial-gradient(at 32% 1%, hsla(56,86%,70%,1) 0px, transparent 50%);
  padding: 3px;
}

.gradient:hover {
  transition-duration: 0.1s;
  background-color:#99e6ff;
  background-image:
  radial-gradient(at 28% 6%, hsla(206,76%,79%,1) 0px, transparent 50%),
  radial-gradient(at 96% 63%, hsla(135,94%,72%,1) 0px, transparent 50%),
  radial-gradient(at 43% 33%, hsla(126,72%,71%,1) 0px, transparent 50%),
  radial-gradient(at 13% 70%, hsla(198,61%,66%,1) 0px, transparent 50%),
  radial-gradient(at 4% 72%, hsla(106,98%,69%,1) 0px, transparent 50%),
  radial-gradient(at 25% 13%, hsla(262,95%,60%,1) 0px, transparent 50%),
  radial-gradient(at 32% 1%, hsla(56,86%,70%,1) 0px, transparent 50%);
}

.buttonBorderGradient {
        background: linear-gradient(#05050a, #05050a) padding-box,
        linear-gradient(60deg, #00f, #00e8ff) border-box;
        border:1.9px solid transparent;
}

.documentationBackground {
  background-color:#eb99ff;
  background-image:
  radial-gradient(at 21% 86%, rgba(255,204,84,255) 0px, transparent 50%),
  radial-gradient(at 12% 48%, hsla(260,62%,74%,1) 0px, transparent 50%),
  radial-gradient(at 72% 28%, hsla(293,83%,67%,1) 0px, transparent 50%),
  radial-gradient(at 54% 74%, hsla(270,78%,67%,1) 0px, transparent 50%),
  radial-gradient(at 29% 39%, rgba(38,0,172,255) 0px, transparent 50%);
}
.whiteBackground {
  background-color:#0d041e;
}
.spanShadow {
  box-shadow: 0px 0px 24px 7px rgba(252, 252, 252, 0.1);
}
